<html>
    <head>
        <meta charset="utf-8">
        <title>Child Safety</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="../static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
                                       
									   
                                        <p class="help-block"></p>
                                   
									
									    <table width="90%" border="0" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
                                          <tr>
										  <th width="4%">User ID</th>
										  
                                            
											
											
											<th width="4%">Place ID</th>
											<th width="8%">Location </th>
											<th width="5%">NSP </th>
											<th width="14%">Device Category</th>
											<th width="9%">Mobile No.</th>
											<th width="9%">IMEI</th>
											<th width="9%">IP Address</th>
											
											<th width="9%">Browser</th>
											<th width="6%">No. of Visit</th>
											<th width="5%">Sessions</th>
											
											<th width="4%">URL</th>
                                            <th width="4%">First Visit Time </th>
                                            <th width="8%">Last Visit Time </th>
											<th width="4%">Date</th>
											<th width="4%">Search Query</th>
											
											
											<th width="7%">No. of Uploads</th>
											<th width="9%">No. of Downloads</th>
											<th width="9%">Share with Social Media</th>
											<th width="6%">Visit Type</th>
                                           
                                          </tr>
										  {% for rs in data %}
                                          <tr>
										  <td>{{rs[0]}}</td>
                                            
											
											
											
                                            
											<td>{{rs[4]}}</td>
											<td>{{rs[11]}}, {{rs[12]}}</td>
											<td>{{rs[14]}}</td>
											<td>
											
											{% if rs[15]==1 %}
											Mobile
											{% elif rs[15]==2 %}
											Tablet
											{% else %}
											Desktop
											{% endif %}
											
											</td>
											<td>
											{% if rs[15]==1 or rs[15]==2 %}
											{{rs[8]}}
											{% else %}
											0
											{% endif %}
											</td>
											<td>
											{% if rs[15]==1 or rs[15]==2 %}
											{{rs[9]}}
											{% else %}
											0
											{% endif %}
											
											</td>
											<td>
											{% if rs[15]==3 %}
											{{rs[10]}}
											{% else %}
											0
											{% endif %}
											</td>
											
											
											<td>
											{% if rs[15]==3 %}
											{{rs[16]}}
											{% else %}
											{{rs[17]}}
											{% endif %}
											
											</td>
											<td>{{rs[18]}}</td>
											<td>{{rs[7]}}</td>
											
											
											
											<td>{{rs[13]}}</td>
                                            <td>{{rs[2]}}</td>
                                            <td>{{rs[3]}}</td>
                                            <td>{{rs[5]}}</td>
											<td>{{rs[22]}}</td>
											
											
											<td>{{rs[20]}}</td>
											<td>{{rs[21]}}</td>
											<td>{{rs[19]}}</td>
											<td>{{rs[6]}}</td>
                                          </tr>
										  {% endfor %}
                                        </table>
								   
									
                                    <div>
									
								
 <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/easing/easing.min.js"></script>
        <script src="../static/lib/wow/wow.min.js"></script>
        <script src="../static/lib/waypoints/waypoints.min.js"></script>
        <script src="../static/lib/typed/typed.min.js"></script>
        <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <!--<script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>-->

        <!-- Template Javascript -->
        <script src="../static/js/main.js"></script>
    </body>
</html>
