<html>
    <head>
        <meta charset="utf-8">
        <title>Crime Hotspot</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="../static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Crime Hotspot</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/login" class="nav-item nav-link">User</a>
                        <a href="/login_admin" class="nav-item nav-link">Admin</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p></p>
                                <h1>Protection</h1>
                                <h2></h2>
                                <div class="typed-text">Verify Secure Location</div>
                            </div>
                            <div class="hero-btn">
                                <a class="btn" href="">Hire Me</a>
                                <a class="btn" href="">Contact Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="../static/img/cs41.png" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        
        <!-- About End -->
        
        
        <!-- Service Start -->
        
        <!-- Service End -->
        
        
         <!-- Experience Start -->
        
        <!-- Job Experience End -->
        
        
        <!-- Banner Start -->
        
        <!-- Banner End -->


        <!-- Portfolio Start -->
        
        <!-- Portfolio End -->
        
        
        <!-- Banner Start -->
        
        <!-- Banner End -->
        
        
        <!-- Price Start -->
        
        <!-- Price End -->
        
        
        <!-- Testimonial Start -->
        
        <!-- Testimonial End -->


        <!-- Team Start -->
        
        <!-- Team End -->
        
        
        <!-- Contact Start -->
       
        <!-- Contact End -->


        <!-- Blog Start -->
        <div class="blog" id="blog">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p></p>
                    <h2>Crime Hotspot</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                            <div class="blog-img">
                                <img src="../static/img/cs2.jpg" width="300" height="300" alt="Blog">
                            </div>
                            <div class="blog-text">
                                <h2>Safety Instructions</h2>
                                
                                <p>
                                    Your adult-friendly home has many potential hazards for a women. But you can keep your women safe by finding out what the risks are, and then preventing or removing them.
                                </p>
                                <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-item wow fadeInUp" data-wow-delay="0.3s">
                            <div class="blog-img">
                                <img src="../static/img/cs3.jpg" width="300" height="300" alt="Blog">                            </div>
                            <div class="blog-text">
                                <h2></h2>
                                
                                <p>
                                    But even when you think you’ve removed all the home safety hazards, the reality is that women can still have tumbles and falls. That’s why supervision is one of the keys to women safety at home.
                                </p>
                                <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Crime Hotspot</h2>
                        <h3>India</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>crime@info.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#"></a> Crime Hotspot<a href="https://htmlcodex.com"></a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <!--<div id="loader" class="show">
            <div class="loader"></div>
        </div>-->

        
        <!-- JavaScript Libraries -->
       <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/easing/easing.min.js"></script>
        <script src="../static/lib/wow/wow.min.js"></script>
        <script src="../static/lib/waypoints/waypoints.min.js"></script>
        <script src="../static/lib/typed/typed.min.js"></script>
        <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <!--<script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>-->

        <!-- Template Javascript -->
        <script src="../static/js/main.js"></script>
    </body>
</html>
